
.custom-icon {
  background-color: #FFF4CE; 
}

.bright {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(20px 0  90px #FFC700);
  
}
.info-dos {
  font-family: Arial, sans-serif;
  text-align: center;
}
.test-tres {
  position: absolute;
  bottom: 40px;
  right: 200px
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

}

.custom-line-height {
line-height: 1;
font-size: 1rem;
}

.rotate-diagonal {
  transform: rotate(-15deg);
}

.swiper-slide img {
  height: 150px;
  width: 180px;
  margin: 0px;
}

