
.custom-icon {
  background-color: #FFF4CE; 
  color: ; 
}

.info-dos {
  font-family: Arial, sans-serif;
  text-align: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-slide img {
  height: 150px;
  width: 180px;
  margin: 0px;
}

